@import "tailwindcss";

@theme{
  --color-button: #3551b7;
  --color-primary: #080E1C;
  --color-secondary: #101728;
}

button{
  cursor: pointer;
}

a{
  text-decoration: none;
}

@media(max-width:720px){
  html{
    font-size: 87.5%;
  }
}

@media(max-width:1080px){
  html{
    font-size: 93.75%;
  }
}
