@import "tailwindcss";

*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
  outline: 0;
}

@theme inline{
  --color-button: var(--button);
}

:root{
  --button:#3552b6
}

body{
  background-color: #080f1b;
}

button{
  cursor: pointer;
}

a{
  
  text-decoration: none;
}

body, input, textarea, select, button{
  font: 400, 1rem sans-serif;
}

@media(max-width:720px){
  html{
    font-size: 87.5%;
  }
}

@media(max-width:1080px){
  html{
    font-size: 93.75%;
  }
}